<h1 class="jumbotrom text-center">Wacky Widgets</h1>
<hr>
<% if @widgets.length > 0 %>
<ul>
    <% @widgets.each do |widget| %>
        <li>
            <strong> <%= widget.description %> </strong> - <%= widget.quantity %>
            <%= link_to "More info", widget_path(widget) %>
        </li>
    <% end %>
    <br>
    <%= link_to "Add a bean!", new_widget_path %>
</ul>

<% else %>
    <h4>No Widgets Exist</h4>
<% end %>